:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  user-select: none;
}

li {
  font-weight: bold;
  user-select: none;
}

label {
  user-select: none;
}

input {
  padding: 8px;
  font: inherit;
}

span {
  margin: 0 10px 0 10px;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
}

#text {
  margin-top: 30px;
}

.letter_move {
  position: absolute;
  z-index: 10;
  color: crimson;
}

.task_descr {
  width: calc(100vw - 70%);
  border-right: gray dashed 2px;
}

.text_form {
  width: calc(100vw - 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
